/**
 * ProcessWire FloatRange Inputfield
 * By @eelke, https://eelke.net
 * Modified by EPRC, https://eprc.studio
 * Styling created with http://danielstern.ca/range.css/?ref=css-tricks#/
 */

 .InputfieldFloatRange__display
 {
     width: 80px !important;
 }
 
 .InputfieldFloatRange input[type=range]
 {
     width: 100%;
 
     background: none !important;
     border: none !important;
 
     -webkit-appearance: none;
     appearance: none;
 }
 
 .InputfieldFloatRange input[type=range].InputfieldFloatRange--without-value
 {
     width: 100%;
     padding: 0;
 }
 
 .InputfieldFloatRange input[type=range].InputfieldFloatRange--with-value
 {
     width: calc(100% - 80px);
     padding: 0 0 0 1em;
 }
 
 .InputfieldFloatRange input[type=range]:focus
 {
     outline: none;
 }
 
 .InputfieldFloatRange input[type=range]::-webkit-slider-runnable-track
 {
     background: #3eb998;
     border: 0;
     border-radius: 8px;
     width: 100%;
     height: 8px;
     cursor: pointer;
 }
 
 .InputfieldFloatRange input[type=range]::-webkit-slider-thumb
 {
     margin-top: -7px;
     width: 17px;
     height: 28px;
     background: url(../../../wire/modules/AdminTheme/AdminThemeUikit/uikit-pw/pw/images/slider_handles2x.png) 0 6px no-repeat;
     background-size: 34px 21px;
     border: none;
     /* border-radius: 16px; */
     cursor: pointer;
     -webkit-appearance: none;
 }
 
 .InputfieldFloatRange input[type=range]:focus::-webkit-slider-runnable-track
 {
     background: #4dc3a4;
 }
 
 .InputfieldFloatRange input[type=range]::-moz-range-track
 {
     background: #3eb998;
     border: 0;
     border-radius: 8px;
     width: 100%;
     height: 8px;
     cursor: pointer;
 }
 
 .InputfieldFloatRange input[type=range]::-moz-range-thumb
 {
     width: 17px;
     height: 28px;
     background: url(../../../wire/modules/AdminTheme/AdminThemeUikit/uikit-pw/pw/images/slider_handles2x.png) 0 6px no-repeat;
     background-size: 34px 21px;
     border: none;
     /* border-radius: 16px; */
     cursor: pointer;
 }
 
 .InputfieldFloatRange input[type=range]::-ms-track
 {
     background: transparent;
     border-color: transparent;
     border-width: 8px 0;
     color: transparent;
     width: 100%;
     height: 8px;
     cursor: pointer;
 }
 
 .InputfieldFloatRange input[type=range]::-ms-fill-lower
 {
     background: #2c3e50;
     border: 0;
     border-radius: 8px;
 }
 
 .InputfieldFloatRange input[type=range]::-ms-fill-upper
 {
     background: #3eb998;
     border: 0;
     border-radius: 8px;
 }
 
 .InputfieldFloatRange input[type=range]::-ms-thumb
 {
     width: 17px;
     height: 28px;
     background: url(../../../wire/modules/AdminTheme/AdminThemeUikit/uikit-pw/pw/images/slider_handles2x.png) 0 6px no-repeat;
     background-size: 34px 21px;
     border: none;
     /* border-radius: 16px; */
     cursor: pointer;
     margin-top: 0px;
     /*Needed to keep the Edge thumb centred*/
 }
 
 .InputfieldFloatRange input[type=range]:focus::-ms-fill-lower
 {
     background: #3eb998;
 }
 
 .InputfieldFloatRange input[type=range]:focus::-ms-fill-upper
 {
     background: #4dc3a4;
 }
 
 /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
 how to remove the virtical space around the range input in IE*/
 @supports (-ms-ime-align:auto) {
     /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
     .InputfieldFloatRange input[type=range] {
         margin: 0;
         /*Edge starts the margin from the thumb, not the track as other browsers do*/
     }
   }